<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobvoi.android.common.test">

    <application android:allowBackup="true">
        <provider
            android:authorities="com.mobvoi.android.common.provider.InfoProvider"
            android:name="com.mobvoi.android.common.provider.InfoProviderImpl"
            android:exported="true" />
    </application>

</manifest>
